@import "tailwindcss";

@theme {
  --color-primary: #0d8267;
  --color-secondary: #c3ded8;
  --color-bermuda: #78dcca;
  --color-darkPrimary: #121213;
  --color-darkSecondary: #1b1b1a;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --font-funnel: "Funnel Sans", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    font-family: var(--font-lexend);
  }

  /* Custom Font Utility Classes */
  .font-lexend {
    font-family: var(--font-lexend);
  }

  .font-funnel {
    font-family: var(--font-funnel);
  }
}

/* Dark Mode Fix */
[data-theme="dark"] {
  background-color: var(--color-darkPrimary);
  color: white;
}
